<form action="/items" method="POST">
    <h2>Tambahkan item</h2>
    <input type="text" id="nama" name="nama" placeholder="Nama item"> <br/>
    <input type="text" id="price" name="price" placeholder="Harga"> <br/>
     <select name="category" id="category">
        <option value="" selected>Pilih kategori</option>
        <% categories.each do |category|%>
            <option value="<%= category.id%>"><%= category.category%></option>
        <%end%>
    </select><br/><br/>
    <input type="submit" value="Tambah item">
</form>