<form action="/categories" method="POST">
    <h2>Tambahkan kategori</h2>
    <input type="text" id="category" name="category" placeholder="Nama kategori"> <br/>
    <input type="submit" value="Tambah kategori">
</form>